/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardHighlight {
    min-height: 100%;
}

.quantity_input{
    width: 25%;
}

.table-format{
    text-align: center;
    vertical-align: middle;
}

.errormsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-bg {
    background-color: #afc3ee;
}

.bold-text {
    font-weight: 500;
    color: #333;
}

.light-bold-text {
    font-weight: 300;
    color: #333;
}

.link-no-underline {
    text-decoration: none;
    font-weight: inherit;
  }

.page-wrapper {
    background-color: #d9e1f8;
    min-height: 100vh;
}

.card-color {
    background-color: #f5f5f5 !important;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loading p {
    font-size: 24px;
    margin-top: 10px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Change color and size as needed */
    border-top: 4px solid #afc3ee; /* Change color to match your theme */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Create the spinning animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}